@import '~font-awesome/css/font-awesome.css';
@import "~@fortawesome/fontawesome-free/css/all.css";


#connection {
    border-radius: 15px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid green;
    margin-right: 20px;
    background-color: green;
    height: 150px;
    width: 45%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
 
#like {
    border-radius: 15px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid rgb(73, 73, 241);
    background-color: rgb(73, 73, 241);
    height: 150px;
    width: 45%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#comment {
    border-radius: 15px;
    height: 100px;
    margin-top: 50px;
    border: 2px solid orange;
    margin-right: 20px;
    background-color: orange;
    height: 150px;
    width: 45%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#repost {
    border-radius: 15px;
    height: 100px;
    margin-top: 50px;
    border: 2px solid red;
    background-color: red;
    height: 150px;
    width: 45%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}