<div> 
    <img id="image1" alt="image not found" src="assets/img/dashboard.png"
     width="90px" style="margin-top: 30px; margin-left: 20%;">
  </div>
  <br>
  <ul>
      <i class="navbar">
        <a class="nav-link" aria-current="page" routerLink="facebook">
          <i class="fa-brands fa-square-facebook"></i>
          Facebook
        </a>
      </i>
      <br>
      <i class="navbar">
        <a class="nav-link" aria-current="page" routerLink="twitter">
          <i class="fa-brands fa-square-twitter"></i>
          Twitter
        </a>
      </i>
      <br>
      <i class="navbar">
        <a class="nav-link" aria-current="page" routerLink="instagram">
          <i class="fa-brands fa-square-instagram"></i>
          Instagram
        </a>
      </i>
      <br>
      <i class="navbar">
        <a class="nav-link" aria-current="page" routerLink="linkedin">
          <i class="fa-brands fa-linkedin"></i>
          LinkedIn
        </a>
      </i>
  </ul>