<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <canvas id="canvas" height="500px" style="margin-top: 20px;">{{chart}}</canvas>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12" style="margin-top: 20px;font-family: 'Times New Roman', Times, serif;">
                <h3 style="font-weight: bold;">Instagram Dashboard</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus inventore aspernatur nulla quaerat? Illum officiis, exercitationem harum officia neque nemo quos nobis facere eveniet, tenetur necessitatibus aut rerum ab eum!</p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-5" id="follower">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-8" style="padding: 15px;">
                            <h3 style="font-weight: bold;">Followers</h3>
                        </div>
                        <div class="col-md-4" style="padding: 20px;">
                            <i class="fa-solid fa-user-group fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 20px;">
                        <h4 style="font-weight: bold;">+3674</h4>
                    </div>
                </div>
                <div class="cpl-md-5" id="like">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-8" style="padding: 15px;">
                            <h3 style="font-weight: bold;">Likes</h3>
                        </div>
                        <div class="col-md-4" style="padding: 20px;">
                            <i class="fa-regular fa-heart fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 20px;">
                        <h4 style="font-weight: bold;">+7420</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-5" id="comment">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-8" style="padding: 15px;">
                            <h3 style="font-weight: bold;">Comments</h3>
                        </div>
                        <div class="col-md-4" style="padding: 20px;">
                            <i class="fa-regular fa-comment fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 20px;">
                        <h4 style="font-weight: bold;">+1264</h4>
                    </div>
                </div>
                <div class="cpl-md-5" id="share">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-8" style="padding: 15px;">
                            <h3 style="font-weight: bold;">Shares</h3>
                        </div>
                        <div class="col-md-4" style="padding: 20px;">
                            <i class="fa-solid fa-retweet fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 20px;">
                        <h4 style="font-weight: bold;">+2185</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>